name: build-and-test

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

env:
  DOTNET_VERSION: '10.0.x'

jobs:
  build-and-test:
    name: build-and-test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Restore dependencies
      run: dotnet restore Playwright.Stealth.sln

    - name: Build
      run: dotnet build Playwright.Stealth.sln --configuration Release --no-restore

    - name: Test
      run: dotnet test --solution Playwright.Stealth.sln --configuration Release --no-build --verbosity normal
